<div class="container row">
    <div class="col-md-6">
        <div class="mt-5" ><a>Home</a></div>
        <div class="mt-3" >
            <div><span>Public</span></div>
            <div><a class="text-decoration-none text-dark" [routerLink]="['/questions/question']">Questions</a></div>
            <div><a class="text-decoration-none text-dark" [routerLink]="['/questions/tags']" >Tags</a></div>
            <div><a class="text-decoration-none text-dark" [routerLink]="['/questions/users']" >Users</a></div>
            <div><a class="text-decoration-none text-dark" [routerLink]="['/questions/companies']">Companies</a></div>
        </div>
        <div class="mt-3">
            <div><span>Collectives</span></div>
            <div><a class="text-decoration-none text-dark" [routerLink]="['/questions/explore-collectives']" >Explore Collectives</a></div>
        </div>
        <div class="mt-3">
            <div><span>TEAMS</span></div>
            <div><a class="text-decoration-none text-dark" [routerLink]="['/questions/create-free-team']" >Create Free Team</a></div>
        </div>
    </div>
</div>
